[submodule "showcaseView"]
	path = showcaseView
	url = https://github.com/rcketscientist/ShowcaseView.git
	branch = master
[submodule "inscription"]
	path = inscription
	url = https://github.com/rcketscientist/Inscription.git
	branch = master
[submodule "metadata-extractor"]
	path = metadata-extractor
	url = https://github.com/rcketscientist/metadata-extractor.git
	branch = Android
[submodule "DocumentActivity"]
	path = DocumentActivity
	url = https://github.com/rcketscientist/DocumentActivity.git
	branch = master
[submodule "rawprocessor"]
	path = rawprocessor
	url = https://rcketscientist@bitbucket.org/rcketscientist/rawprocessor.git
	branch = master
[submodule "ToggleButtons"]
	path = ToggleButtons
	url = https://github.com/rcketscientist/ToggleButtons.git
