[submodule "oIDistributionLibrary"]
	path = oIDistributionLibrary
	url = https://github.com/rcketscientist/oi-distribution-library.git
[submodule "oIFileManager"]
	path = oIFileManager
	url = https://github.com/rcketscientist/oi-filemanager-library.git
[submodule "metaDataExtractor"]
	path = metaDataExtractor
	url = https://AMandra@code.google.com/r/amandra-xmp/
[submodule "showcaseView"]
	path = showcaseView
	url = https://github.com/rcketscientist/ShowcaseView.git
[submodule "inscription"]
	path = inscription
	url = https://github.com/rcketscientist/Inscription.git
[submodule "treeviewlistandroid"]
	path = treeviewlistandroid
	url = https://github.com/rcketscientist/tree-view-list-android.git
