[submodule "oIFileManager"]
	path = oIFileManager
	url = https://github.com/rcketscientist/oi-filemanager-library.git
[submodule "showcaseView"]
	path = showcaseView
	url = https://github.com/rcketscientist/ShowcaseView.git
[submodule "inscription"]
	path = inscription
	url = https://github.com/rcketscientist/Inscription.git
[submodule "metadata-extractor"]
	path = metadata-extractor
	url = https://github.com/rcketscientist/metadata-extractor.git
	branch = Android
[submodule "rawprocessor/src/main/jni/LibRaw"]
	path = rawprocessor/src/main/jni/LibRaw
	url = https://github.com/rcketscientist/LibRaw.git
[submodule "rawprocessor/src/main/jni/LibRaw-demosaic-pack-GPL3"]
	path = rawprocessor/src/main/jni/LibRaw-demosaic-pack-GPL3
	url = https://github.com/LibRaw/LibRaw-demosaic-pack-GPL3.git
[submodule "rawprocessor/src/main/jni/LibRaw-demosaic-pack-GPL2"]
	path = rawprocessor/src/main/jni/LibRaw-demosaic-pack-GPL2
	url = https://github.com/LibRaw/LibRaw-demosaic-pack-GPL2.git
