/bin
/gen
/assets
/libs/mips
/libs/x86
/libs/armeabi
/libs/armeabi-v7a
/out
/obj

#Android studio
/.idea/workspace.xml
/.idea/libraries
/.idea/gradle.xml
/.idea/vcs.xml
/local.properties
/captures
*.iml #constant updates for line changes were too annoying

#Gradle
/.gradle

/rawDroid/src/main/obj
/rawDroid/build/outputs/apk/rawDroid-pro-debug.apk
/rawDroid/build/outputs/apk/rawDroid-pro-debug-unaligned.apk
/rawDroid/build/outputs/apk/rawDroid-demo-debug-unaligned.apk
/rawDroid/build/outputs/apk/rawDroid-demo-debug.apk
/rawDroid/build/outputs/apk/manifest-merger-demo-debug-report.txt
/rawDroid/build/outputs/apk/manifest-merger-pro-release-report.txt
/rawDroid/build/outputs/apk/manifest-merger-proAmazon-release-report.txt
/rawDroid/build/outputs/apk/manifest-merger-demo-release-report.txt

Thumbs.db
obj
/rawDroid/build/tmp
/rawDroid/build/generated
/rawDroid/build/intermediates
/rawDroid/build/outputs/logs
/build
*.iml
build