/bin
/gen
/assets
/libs/mips
/libs/x86
/libs/armeabi
/libs/armeabi-v7a
/out
/obj
/.idea
/.gradle
local.properties
/local.properties
*.iml
/gradle/.gradle
/gradle/gradle
/gradle/gradlew.bat
/gradle/gradlew
build
/rawDroid/src/main/obj
/rawDroid/build/outputs/apk/rawDroid-pro-debug.apk
/rawDroid/build/outputs/apk/rawDroid-pro-debug-unaligned.apk
/rawDroid/build/outputs/apk/rawDroid-demo-debug-unaligned.apk
/rawDroid/build/outputs/apk/rawDroid-demo-debug.apk
/rawDroid/build/outputs/apk/manifest-merger-demo-debug-report.txt
/rawDroid/build/outputs/apk/manifest-merger-pro-release-report.txt
/rawDroid/build/outputs/apk/manifest-merger-proAmazon-release-report.txt
/rawDroid/build/outputs/apk/manifest-merger-demo-release-report.txt
/captures
Thumbs.db
