<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.anthonymandra.rawdroid"
    android:versionCode="122"
    android:versionName="2.5.2" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="18" />

    <uses-feature
        android:name="android.hardware.usb.host"
        android:required="false" />
    <uses-feature
        android:name="android.software.live_wallpaper"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen.multitouch"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_STORAGE" />
    <!--<uses-permission android:name="android.permission.WRITE_MEDIA_STORAGE" /> This shouldn't work anyway-->
    <uses-permission android:name="android.permission.SET_WALLPAPER" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:largeHeap="true" >
        
        <activity
            android:name=".RawDroid"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/GalleryTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity 
            android:name=".CameraImport"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>
            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
        </activity>
        
        <activity
            android:name=".ViewerChooser" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="file" />
                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\\.3fr" />
                <data android:pathPattern=".*\\.3FR" />
                <data android:pathPattern=".*\\.ari" />
                <data android:pathPattern=".*\\.ARI" />
                <data android:pathPattern=".*\\.arw" />
                <data android:pathPattern=".*\\.ARW" />
                <data android:pathPattern=".*\\.bay" />
                <data android:pathPattern=".*\\.bay" />
                <data android:pathPattern=".*\\.cap" />
                <data android:pathPattern=".*\\.CAP" />
                <data android:pathPattern=".*\\.crw" />
                <data android:pathPattern=".*\\.CRW" />
                <data android:pathPattern=".*\\.cr2" />
                <data android:pathPattern=".*\\.CR2" />
                <data android:pathPattern=".*\\.dcr" />
                <data android:pathPattern=".*\\.DCR" />
                <data android:pathPattern=".*\\.dcs" />
                <data android:pathPattern=".*\\.DCS" />
                <data android:pathPattern=".*\\.dng" />
                <data android:pathPattern=".*\\.DNG" />
                <data android:pathPattern=".*\\.drf" />
                <data android:pathPattern=".*\\.DRF" />
                <data android:pathPattern=".*\\.eip" />
                <data android:pathPattern=".*\\.EIP" />
                <data android:pathPattern=".*\\.erf" />
                <data android:pathPattern=".*\\.ERF" />
                <data android:pathPattern=".*\\.fff" />
                <data android:pathPattern=".*\\.FFF" />
                <data android:pathPattern=".*\\.iiq" />
                <data android:pathPattern=".*\\.IIQ" />
                <data android:pathPattern=".*\\.k25" />
                <data android:pathPattern=".*\\.K25" />
                <data android:pathPattern=".*\\.kdc" />
                <data android:pathPattern=".*\\.KDC" />
                <data android:pathPattern=".*\\.mdc" />
                <data android:pathPattern=".*\\.MDC" />
                <data android:pathPattern=".*\\.mef" />
                <data android:pathPattern=".*\\.MEF" />
                <data android:pathPattern=".*\\.mos" />
                <data android:pathPattern=".*\\.MOS" />
                <data android:pathPattern=".*\\.mrw" />
                <data android:pathPattern=".*\\.MRW" />
                <data android:pathPattern=".*\\.nef" />
                <data android:pathPattern=".*\\.NEF" />
                <data android:pathPattern=".*\\.nrw" />
                <data android:pathPattern=".*\\.NRW" />
                <data android:pathPattern=".*\\.obm" />
                <data android:pathPattern=".*\\.OBM" />
                <data android:pathPattern=".*\\.orf" />
                <data android:pathPattern=".*\\.ORF" />
                <data android:pathPattern=".*\\.pef" />
                <data android:pathPattern=".*\\.PEF" />
                <data android:pathPattern=".*\\.ptx" />
                <data android:pathPattern=".*\\.PTX" />
                <data android:pathPattern=".*\\.pxn" />
                <data android:pathPattern=".*\\.PXN" />
                <data android:pathPattern=".*\\.r3d" />
                <data android:pathPattern=".*\\.R3D" />
                <data android:pathPattern=".*\\.raf" />
                <data android:pathPattern=".*\\.RAF" />
                <data android:pathPattern=".*\\.raw" />
                <data android:pathPattern=".*\\.RAW" />
                <data android:pathPattern=".*\\.rw1" />
                <data android:pathPattern=".*\\.RW1" />
                <data android:pathPattern=".*\\.rw2" />
                <data android:pathPattern=".*\\.RW2" />
                <data android:pathPattern=".*\\.rwz" />
                <data android:pathPattern=".*\\.RWZ" />
                <data android:pathPattern=".*\\.sr2" />
                <data android:pathPattern=".*\\.SR2" />
                <data android:pathPattern=".*\\.srf" />
                <data android:pathPattern=".*\\.SRF" />
                <data android:pathPattern=".*\\.srw" />
                <data android:pathPattern=".*\\.SRW" />
                <data android:pathPattern=".*\\.x3f" />
                <data android:pathPattern=".*\\.X3F" />
                <data android:host="*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LegacyViewerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/GalleryTheme"/>
        <activity
            android:name=".ImageViewActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/GalleryTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".RawDroid" />
        </activity>
        
        <activity android:name=".FullSettingsActivity" />
                
        <provider
            android:name="com.anthonymandra.content.MetaProvider"
            android:authorities="com.anthonymandra.content.MetaProvider"
            android:grantUriPermissions="true"
            android:exported="true">
        </provider>
        
        <provider
            android:name="com.anthonymandra.framework.SwapProvider"
            android:authorities="com.anthonymandra.rawdroid.SwapProvider"
            android:grantUriPermissions="true"
            android:exported="true">
        </provider>

        <!-- Activities from OI File Manager -->
        <activity
            android:name="org.openintents.filemanager.FileManagerActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="org.openintents.action.PICK_FILE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="file" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.openintents.action.PICK_FILE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.openintents.action.PICK_DIRECTORY" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="file" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.openintents.action.PICK_DIRECTORY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />

                <data android:mimeType="*/*" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />
            </intent-filter>

            <!-- Filter for a multi select feature -->
            <intent-filter>
                <action android:name="org.openintents.action.MULTI_SELECT" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="file" />
            </intent-filter>
        </activity>
        <activity android:name="org.openintents.filemanager.PreferenceActivity" />

        <!-- Activities from OI Distribution Library -->
        <!--
             <activity android:name="org.openintents.distribution.EulaActivity" />
        <activity android:name="org.openintents.distribution.NewVersionActivity" />
        -->
    </application>

</manifest>