<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.anthonymandra.rawdroid"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_MEDIA_STORAGE"/>
    <uses-permission android:name="android.permission.SET_WALLPAPER"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <uses-feature
        android:name="android.hardware.usb.host"
        android:required="false"/>
    <uses-feature
        android:name="android.software.live_wallpaper"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.touchscreen.multitouch"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false"/>

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true"/>

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/GalleryTheme"
        android:largeHeap="true">
        <activity
            android:name=".GalleryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/GalleryTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/usb_storage_filter"/>
        </activity>
        <activity
            android:name=".CameraImportActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/GalleryTheme">
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"/>
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/usb_camera_filter"/>
        </activity>

        <activity android:name=".ViewerChooser" />
        <activity
            android:name=".TutorialActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/GalleryTheme"/>
        <activity
            android:name=".LegacyViewerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/GalleryTheme"/>
        <activity
            android:name=".ImageViewActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/GalleryTheme">
            <!--<meta-data-->
                <!--android:name="android.support.PARENT_ACTIVITY"-->
                <!--android:value=".GalleryActivity"/>-->
        </activity>
        <activity
            android:name=".PagerViewActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/GalleryTheme">
            <!--<meta-data-->
                <!--android:name="android.support.PARENT_ACTIVITY"-->
                <!--android:value=".GalleryActivity"/>-->
        </activity>
        <activity
            android:name=".FullSettingsActivity"
            android:theme="@style/Theme.AppCompat"/>

        <activity-alias
            android:name=".ImportKeywords"
            android:enabled="true"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/prefTitleImportKeywords"
            android:targetActivity=".GalleryActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <action android:name="android.intent.action.SEND"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:mimeType="text/plain"/>
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".ViewImage"
            android:enabled="true"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/view"
            android:targetActivity=".ViewerChooser">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <action android:name="android.intent.action.SEND"/>
                <action android:name="android.intent.action.SEND_MULTIPLE"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:mimeType="*/*"/>
            </intent-filter>
        </activity-alias>

        <service
            android:name="com.anthonymandra.framework.MetaService"
            android:exported="false">
        </service>
        <service
            android:name="com.anthonymandra.framework.SearchService"
            android:exported="false">
        </service>

        <receiver
            android:name="com.anthonymandra.framework.MetaWakefulReceiver"
            android:enabled="true"
            android:exported="false">
        </receiver>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="a2ac9da17c41a8a1b70fa478f3f705c6c2dc0ce6"/>

    </application>

</manifest>