<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="com.android.vending.CHECK_LICENSE" />

    <application>
        <!--Separating providers allows flavorized authorities-->
        <provider
            android:name="com.anthonymandra.content.MetaProvider"
            android:authorities="com.anthonymandra.content.MetaProvider.pro"
            android:grantUriPermissions="true"
            android:exported="false">
        </provider>

        <provider
            android:name="com.anthonymandra.framework.SwapProvider"
            android:authorities="com.anthonymandra.rawdroid.SwapProvider.pro"
            android:grantUriPermissions="true"
            android:exported="false">
        </provider>

        <provider
            android:name="com.anthonymandra.content.KeywordProvider"
            android:authorities="com.anthonymandra.rawdroid.KeywordProvider.pro"
            android:grantUriPermissions="true"
            android:exported="false">
        </provider>

    </application>
</manifest>